# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Local env files
.env
.env.*
!.env.example

# Python cache (na przyszłość, bo i tak będziesz używał Pythona)
__pycache__/
*.pyc
.pytest_cache/

